/* Ensure the entire app uses a flex layout to handle spacing */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
  z-index: 1000;
}

.main-content {
  margin: 60px 0px 0px 60px  ; /* Adjust based on the height of the Navbar */
  padding: 20px;
  flex: 1;
  background-color: #f4f4f4; /* Light background for content */
}
